<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">ConnectingDELHI</a></mdb-navbar-brand>
    
        <!-- Collapsible content -->
        <links>
    
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
    
                
                <li class="nav-item">
                    <a  routerLink="../dashboard" class="nav-link waves-light" mdbWavesEffect mdbWavesEffect>
                       Dashboard
                    </a>
                </li>
                
                <!-- Dropdown -->
                <li class="nav-item dropdown teal"  dropdown dropdown-primarys>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        Profile<i class="fa fa-user"></i><span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../login">Logout</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                        
                    </div>
                </li>
    
            </ul>
            <!-- Links -->
    
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>
    <!--/.Navbar-->
    <br>

    <div class="container pt-4" [hidden]="hideElement">
            <div class="row" style="text-align: center;">
                <div class="col-md-12">
                    <h2 class="heading-secondary text-center">
                        <img src="assets/images/EDMC.jpg"  class=" org " style="height:130px;width:150px;"  alt="">
                         East Delhi Municipal Corporation
                    </h2>
        
                </div>
            </div>
        </div>
        <br>
        <h2>Total Complaint :{{complaintsCount.totalComplaints}}</h2>
        <h2>Pending Complaint :{{complaintsCount.pendingComplaints}}</h2>
        <h2>Solved Complaint :{{complaintsCount.completedComplaints}}</h2>

    <div class="container">

   
    <div class="row">
      <div class="col-md-6  pt-4">
        <mat-card>
            <h3 class="text-center heading-secondary1">No. of Complaints Registered </h3>
            <hr>
            <div style="display: block">  
                <canvas mdbChart
                    [chartType]="chartTypeTotal"
                    [datasets]="chartDatasetsTotal"
                    [labels]="chartLabelsTotal"
                    [colors]="chartColorsTotal"
                    [options]="chartOptionsTotal"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </mat-card>
      </div>
      <div class="col-md-6  pt-4">
          <mat-card>
              <h3 class="text-center heading-secondary1">Complaints Solved In Months</h3>
              <hr>
              <div style="display: block">
                  <canvas mdbChart
                      [chartType]="chartTypeSolved"
                      [datasets]="chartDatasetsSolved"
                      [labels]="chartLabelsSolved"
                      [colors]="chartColorsSolved"
                      [options]="chartOptionsSolved"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                  </canvas>
              </div>
          </mat-card>
      </div>      
    </div>
    <div class="row">
        <div class="col-md-6  pt-4">
          <mat-card>
              <h3 class="text-center heading-secondary1">Complaints Pending In Months</h3>
              <hr>
              <div style="display: block">
                  <canvas mdbChart
                      [chartType]="chartTypePending"
                      [datasets]="chartDatasetsPending"
                      [labels]="chartLabelsPending"
                      [colors]="chartColorsPending"
                      [options]="chartOptionsPending"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                  </canvas>
              </div>
          </mat-card>
        </div>
        <div class="col-md-6  pt-4">
            <mat-card>
                <h3 class="text-center heading-secondary1">Complaints In Each Category </h3>
                 <hr>      
                 <div style="display: block; " >
                    <canvas mdbChart style=" height:100px;"
                        [chartType]="chartTypeCategory"
                        [data]="chartDataCategory"
                        [labels]="chartLabelsCategory"
                        [colors]="chartColorsCategory"
                        [options]="chartOptionsCategory"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </mat-card>
        </div>      
      </div>
    
  </div>
  
  
  <br><br>
  <div class="row pt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
                <footer class="page-footer font-small teal pt-4 ">
                         <br><br><br>
                        <!-- Footer Text -->
                        <div class="container-fluid text-center text-md-left">
                        </div>
                        <!-- Footer Text -->
                      
                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2018 Copyright:
                          <a href="https://ConnectingIndia.ml"> ConnectingDelhi.ml</a>
                        </div>
                        <!-- Copyright -->
                      
                      </footer>
                      <!-- Footer -->
                      
                
        </div>
        <div class="col-md-1"></div>
    </div>      
          
          
 
  