

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">connectingDELHI</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

    <!-- Form -->
    <li class="nav-item">
            <button routerLink="../myComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                <span style="color:#fff">My Complaints</span>
            </button>
    </li>
  
       <li class="nav-item">
            <button routerLink="../registerComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                  <span style="color:#fff">Register Complaints</span>
                  
              </button>
              
       </li>

  
            <!-- Dropdown -->
            <li class="nav-item dropdown teal"  dropdown dropdown-primary>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                    
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--posts body-->
<br><br>
<div class="container" [hidden]="hideElement">
        <div class="row">
                <div class="col-md-3 wid pt-4" >
                        <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading ">
                                    <span class="card__heading-span card__heading-span--1">@username</span>
                            </h4>
                               
                            <div class="card-body">
                                <div class="card__details">
                                    <ul>
                                       <li style="margin-top: 10px">Total Complaints : 3 </li>
                                       <li style="margin-top: 10px">Solved Complaints: 30</li>
                                       <li style="margin-top: 10px">PendingComplaints :3</li>
                                     </ul>
                                 </div>
                                  
                                
                            </div>
                          </div>
                          <div class="card mt-4" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                              <div class="card__picture card__picture--2">
                                  &nbsp;
                              </div>
                              <h4 class="card__heading ">
                                      <span class="card__heading-span card__heading-span--2">Corporations</span>
                              </h4>
                                 
                              <div class="card-body">
                                  <div class="card__details">
                                      <ul>
                                         <li style="margin-top: 10px">
                                                <a routerLink="" style="margin-top:5px;width:150px;" class="btn btn--white2">NDMC</a>
                                        </li>
                                         <li style="margin-top: 10px">
                                                <a routerLink="" style="margin-top:5px;width:150px;" class="btn btn--white2">SDMC</a>
                                        </li>
                                        <li style="margin-top: 10px">
                                                <a routerLink="" style="margin-top:5px;width:150px;" class="btn btn--white2">EDMC</a>
                                        </li>
                                        <li style="margin-top: 10px">
                                                <a routerLink="" style="margin-top:5px;width:150px;" class="btn btn--white2">NewDMC</a>
                                        </li>
                                        <li style="margin-top: 10px">
                                                <a routerLink="" style="margin-top:5px;width:150px;" class="btn btn--white2">DCB</a>
                                        </li>

                                       </ul>
                                   </div>
                                    
                                  
                              </div>
                            </div>  
                            <div class="card mt-4" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                                <div class="card__picture card__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading ">
                                        <span class="card__heading-span card__heading-span--3">Categories</span>
                                </h4>
                                   
                                <div class="card-body">
                                    <div class="card__details">
                                        <ul>
                                                <li style="margin-top: 10px">
                                                        <a routerLink="" style="margin-top:5px;width:165px;" class="btn btn--white3">Road</a>
                                                </li>
                                                <li style="margin-top: 10px">
                                                        <a routerLink="" style="margin-top:5px;width:165px;" class="btn btn--white3">Electricity</a>
                                                </li>
                                                <li style="margin-top: 10px">
                                                        <a routerLink="" style="margin-top:5px;width:165px;" class="btn btn--white3">Sewage</a>
                                                </li>
                                                <li style="margin-top: 10px">
                                                        <a routerLink="" style="margin-top:5px;width:165px;" class="btn btn--white3">Water</a>
                                                </li>
        
        
        
        
                                         </ul>
                                     </div>
                                      
                                    
                                </div>
                              </div>  
                    </div>
            <div class="col-md-9">
                    <mat-card>
                       <mat-card class="pt-4" *ngFor="let complaint of complaints">
                           <div class="row">
                                <div class="col-md-6">
                                        <span style="font-weight:bold;color:teal">{{complaint.userName}}</span>  
                                    </div>
                                    <div class="col-md-6 text-align:left">
                                            <span style="font-weight:bold;color:teal">Posted On : {{complaint.date}}</span> 
                                </div>
                               
                           </div>
                           <hr/>
                           <div class="row">
                                <div class="col-md-6">
                                  
                                    <mat-card>
                                        <img src="/{{complaint.image}}" alt="" style="border-radius:5px; " class="text-center img-responsive" style="width:345px;height:300px;">
                                    </mat-card>
                                </div>
                               <div class="col-md-6">
                                   <mat-card>
                                       <p><span style="font-weight:bold;color:teal">DESCRIPTION:</span> {{complaint.description}} </p><br>
                                       <p><span style="font-weight:bold;color:teal">PROBLEM CATEGORY:</span> {{complaint.category}}  </p><br>
                                       <p><span style="font-weight:bold;color:teal">PROBLEM LOCATION:</span> {{complaint.location}}  </p><br>
                                       <p><span style="font-weight:bold;color:teal">HANDLE BY:</span> {{complaint.m_corporation}} </p><br> 
                                       <p><span style="font-weight:bold;color:teal">STATUS: </span> {{complaint.status}}</p>
                                   </mat-card>
                               </div>
                               
                           </div>

                       </mat-card>
                       
                    </mat-card>
        
                </div>
                
            </div>
    
    <br>


</div>

    


<br><br><br><br><br><br>
<div class="row pt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
                <footer class="page-footer font-small teal pt-4 ">
                         <br><br><br>
                        <!-- Footer Text -->
                        <div class="container-fluid text-center text-md-left">
                        </div>
                        <!-- Footer Text -->
                      
                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2018 Copyright: Design & Developed by Akash & Ankur
                          <a href="https://ConnectingDelhi.ml">ConnectingDelhi.ml </a>
                        </div>
                        <!-- Copyright -->
                      
                      </footer>
                      <!-- Footer -->
                      
                
        </div>
        <div class="col-md-1"></div>
    </div>      
          
          