

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">connectingDELHI</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

    <!-- Form -->
    <li class="nav-item">
            <button routerLink="../myComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                <span style="color:#fff">My Complaints</span>
            </button>
    </li>
  
       <li class="nav-item">
            <button routerLink="../registerComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                  <span style="color:#fff">Register Complaints</span>
                  
              </button>
              
       </li>

  
         <!-- Form -->           
            <li class="nav-item">
                <a class="nav-link waves-light" (click)="basicModal.show()" mdbWavesEffect mdbWavesEffect>2<i class="fa fa-bell"></i></a>
            </li>
            
            <!-- Dropdown -->
            <li class="nav-item dropdown teal"  dropdown dropdown-primary>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                    
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--posts body-->
<br><br>
<div class="container" [hidden]="hideElement">
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <mat-card>
                       <mat-card class="pt-4" *ngFor="let complaint of complaints">
                           <div class="row">
                                <div class="col-md-6">
                                        <span style="font-weight:bold;color:teal">{{complaint.userName}}</span>  
                                    </div>
                                    <div class="col-md-6 text-align:left">
                                            <span style="font-weight:bold;color:teal">Posted On : {{complaint.date}}</span> 
                                </div>
                               
                           </div>
                           <hr/>
                           <div class="row">
                                <div class="col-md-6">
                                  
                                    <mat-card>
                                        <img src="{{complaint.image}}" alt="" style="border-radius:5px; " class="text-center img-responsive" style="width:345px;height:300px;">
                                    </mat-card>
                                </div>
                               <div class="col-md-6">
                                   <mat-card>
                                       <p><span style="font-weight:bold;color:teal">DESCRIPTION:</span> {{complaint.description}} </p><br>
                                       <p><span style="font-weight:bold;color:teal">PROBLEM CATEGORY:</span> {{complaint.category}}  </p><br>
                                       <p><span style="font-weight:bold;color:teal">PROBLEM LOCATION:</span> {{complaint.location}}  </p><br>
                                       <p><span style="font-weight:bold;color:teal">HANDLE BY:</span> {{complaint.m_corporation}} </p><br> 
                                       <p><span style="font-weight:bold;color:teal">STATUS: </span> {{complaint.status}}</p>
                                   </mat-card>
                               </div>
                               
                           </div>

                       </mat-card>
                       
                    </mat-card>
        
                </div>
                <div class="col-md-1"></div>
            </div>
    
    <br>


</div>

    


<br><br><br><br><br><br>

<!-- Footer -->
<footer class="page-footer font-small teal pt-4 ">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
    
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">connectingDELHI</h5>
              <p>
                    Connecting_Delhi is a online complaint portal that will solve many real-life problems like problems related to water, sewage, road, electricity and etc.
              </p>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-150 d-md-none pb-3">
    
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">
    
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Supported By:</h5>
              <div class="row">
                    <div class="col-md-2">
                         <img src="assets/images/delhiAdmin.png" style="width:80px;height:70px;border-radius: 4px;"alt="j">
             
                     </div>
                     <div class="col-md-2">
                             <img src="assets/images/EDMC.jpg" style="width:80px;height:70px;border-radius: 4px;"alt="">
             
                     </div>
                     <div class="col-md-2">
                             <img src="assets/images/NDMC.jpeg" style="width:80px;height:70px;border-radius: 4px;"alt="">
             
                     </div>
                     <div class="col-md-2">
                             <img src="assets/images/SDMC.png" style="width:80px;height:70px;border-radius: 4px;"alt="">
             
                     </div>
                     <div class="col-md-2">
                             <img src="assets/images/DCB.jpg" style="width:80px;height:70px;border-radius: 4px;"alt="">
             
                     </div>
                     <div class="col-md-2">
                            <img src="assets/images/North.jpg" style="width:80px;height:70px;border-radius: 4px;"alt="">
            
                    </div>
                                    
               </div>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Text -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://ConnectingIndia.ml"> connectingDELHI.ml</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
    
    
    
    



  <!--modal-->
  
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-right  modal-notify modal-success" role="document">
 
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right white-text" aria-label="Close" (click)="basicModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100 white-text" id="myModalLabel">Notifications</h4>
    </div>
    <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-bell fa-4x mb-3 animated rotateIn"></i>
            <br>
            <ul>
                <li class="list-group-item justify-content-between">
                     your water problem is solved
                    <span class="badge badge-success badge-pill">old</span>
                </li>
                <li class="list-group-item justify-content-between">
                     your complaint is marked
                    <span class="badge badge-warning badge-pill">Mark</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Sewage problem is registered
                   <span class="badge badge-primary badge-pill">New</span>
                </li>
            </ul>
          </div>
    </div>    
    <div class="modal-footer">
           
      <button type="button" mdbBtn class="relative waves-light btn danger" style="border-radius:10px;" color="danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Clear</button>
      <button type="button" mdbBtn  class="relative waves-light btn btn-outline-success" style="border-radius:10px;" mdbWavesEffect>Got it!</button>
    </div>
  </div>
</div>
</div>
