/*************
  login/signup design
*************/
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-stretched-tabs {
    max-width: 1000px;
    text-align: center;
    margin-left:50px;
    margin-right:50px;
    
  }
  .mat-form-field{ width:100% !important;
  }
  
  input.ng-valid{
    color:green;
  }

  .mat-tab{
    font-weight: bold !important;
  }
  .fa{
    font-size:24px;
  }

  
  footer{
    
    /* that every point the height of the box of this element should be 95% of the view port height */
     background-position: botom;
      position: relative;
      -webkit-clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0 99%);
      clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0 99%);
  
      
    }
  
  