

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">connectingDELHI</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">

  <!-- Form -->
     <li class="nav-item">
          <button routerLink="./home" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                <span style="color:#fff">Home</span>
                
            </button>
            
     </li>
  
       <!-- Form -->           
          <li class="nav-item">
              <a class="nav-link waves-light" (click)="basicModal.show()" mdbWavesEffect mdbWavesEffect>2<i class="fa fa-bell"></i></a>
          </li>
          
        
      </ul>
      <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--posts body-->


<div class="container" class="pt-4">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
       <mat-card>                   
          <h3 class="text-center"><img src="assets/images/india.png" ></h3>
        
        <p class="h3 text-center mb-4" style="color:teal;">Change Password</p>
                <br>
                <form [formGroup]="homeChangePasswordForm" novalidate (ngSubmit)="onSubmitHomeChangePasswordForm(homeChangePasswordForm.value)">            
               
        
                  
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="New Password" formControlName="newPassword"  [type]="hide ? 'password' : 'text'" required>
          <span matSuffix (click)="hide = !hide"><i class="fa fa-eye " style="color:gray;"></i></span>
                </mat-form-field>
 
        <mat-form-field class="full-width" hintLabel="Must be same as new password">
            <input matInput maxlength="25" [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword" required>
            <span matSuffix (click)="hide = !hide"><i class="fa fa-lock " style="color:gray;"></i></span>
                    
          </mat-form-field>
        <br><br>
        <button mdbBtn type="submit" color="primary" class="waves-light btn-color" mdbWavesEffect [disabled]="!homeChangePasswordForm.valid">
              Update
        </button>
        <button  mdbBtn type="reset" color="danger" class="waves-light btn-color" mdbWavesEffect [disabled]="!homeChangePasswordForm.valid">
          Reset
        </button>
    
      </form>
                   
     
      </mat-card> 
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

  
<br><br><br><br><br><br>
<div class="row pt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
                <footer class="page-footer font-small teal pt-4 ">
                         <br><br><br>
                        <!-- Footer Text -->
                        <div class="container-fluid text-center text-md-left">
                        </div>
                        <!-- Footer Text -->
                      
                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2018 Copyright: Design & Developed by Akash & Ankur
                          <a href="https://ConnectingDelhi.ml">ConnectingDelhi.ml </a>
                        </div>
                        <!-- Copyright -->
                      
                      </footer>
                      <!-- Footer -->
                      
                
        </div>
        <div class="col-md-1"></div>
    </div>      
          
          
          
