

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">connectingDELHI</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

    <!-- Form -->
    <li class="nav-item">
        <button routerLink="../posts" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
              <span style="color:#fff">Complaint Posts</span>
              
          </button>
          
   </li>
  
       <li class="nav-item">
            <button routerLink="../registerComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                  <span style="color:#fff">Register Complaints </span>
                  
              </button>
              
       </li>
  
         
            <!-- Dropdown -->
            <li class="nav-item dropdown teal"  dropdown dropdown-primary>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../myComplaints">My Complaints</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                    
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--posts body-->
<br><br>
<div class="container" [hidden]="hideElement">
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-card>
                   <mat-card class="pt-4" *ngFor="let complaint of complaints">
                       <div class="row">
                            <div class="col-md-6">
                                    <span style="font-weight:bold;color:teal">{{complaint.userName}}</span>  
                                </div>
                                <div class="col-md-6 text-align:left">
                                        <span style="font-weight:bold;color:teal">Posted On : {{complaint.date}}</span> 
                            </div>
                           
                       </div>
                       <hr/>
                       <div class="row">
                            <div class="col-md-6">
                              
                                <mat-card>
                                    <img src="/{{complaint.image}}" alt="" style="border-radius:5px; " class="text-center img-responsive" style="width:345px;height:300px;">
                                </mat-card>
                            </div>
                           <div class="col-md-6">
                               <mat-card>
                                   <p><span style="font-weight:bold;color:teal">DESCRIPTION:</span> {{complaint.description}} </p><br>
                                   <p><span style="font-weight:bold;color:teal">PROBLEM CATEGORY:</span> {{complaint.category}}  </p><br>
                                   <p><span style="font-weight:bold;color:teal">PROBLEM LOCATION:</span> {{complaint.location}}  </p><br>
                                   <p><span style="font-weight:bold;color:teal">HANDLE BY:</span> {{complaint.m_corporation}} </p><br> 
                                   <p><span style="font-weight:bold;color:teal">STATUS: </span> {{complaint.status}}</p>
                               </mat-card>
                           </div>
                           
                       </div>

                   </mat-card>
                   
                </mat-card>
    
            </div>
            <div class="col-md-1"></div>
        </div>

<br>


</div>
    

<br><br><br><br><br>
<!--
    FOOTER
-->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
            <footer class="page-footer font-small teal pt-4 ">

                    <!-- Footer Text -->
                    <div class="container-fluid text-center text-md-left">
                    </div>
                    <!-- Footer Text -->
                  
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2018 Copyright: Design & Developed by Akash & Ankur 
                      <a href="https://connectingdelhi.ml"> ConnectingDelhi.ml</a>
                    </div>
                    <!-- Copyright -->
                  
                  </footer>
                  <!-- Footer -->
                  
            
    </div>
    <div class="col-md-1"></div>
</div>      
      
      