

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">connectingDELHI</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

    <!-- Form -->
       <li class="nav-item">
            <button routerLink="../myComplaints" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
                  <span style="color:#fff"> My Complaints</span>
                  
              </button>
              
       </li>
       <li class="nav-item">
          <button routerLink="../posts" mdbBtn type="button" color="primary" outline="true" block="true" mdbWavesEffect style="border-radius: 10px;">
              <span style="color:#fff">Complaint Posts</span>
          </button>
  </li>
  
            <!-- Dropdown -->
            <li class="nav-item dropdown teal"  dropdown dropdown-primary>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../myComplaints">My Complaints</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                    
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--posts body-->
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <mat-card>
         <h3 class="text-center"><img src="assets/images/india.png" ></h3>
          
          <h3 class="text-center" style="font-weight:bold;color:teal;">Register Complaints</h3>
      
                    <form [formGroup]="userComplaintsForm" novalidate (ngSubmit)="onSubmitUserComplaintsForm(userComplaintsForm.value)">
                        <br>  
                        
                        <mat-form-field class="full-width"  hintLabel="Max 15 characters">
                            <input  #input1 maxlength="35" matInput placeholder="Description of Problem" formControlName="description" required>
                            <mat-hint align="end">{{input1.value?.length || 0}}/35</mat-hint>
                            <span matSuffix><i class="fa fa-user " style="color:gray;"></i></span>                   
                        </mat-form-field>
                        <br><br>
                        <p>Problem Image : </p><input type="file" (change)="onFileSelected($event)" accept="image/*" >
                        
                        <mat-form-field>
                            <mat-select placeholder="Problem Related To" formControlName="category">
                              <mat-option *ngFor="let problem of problems" [value]="problem.value"   >
                                {{problem.viewValue}}
                              </mat-option>
                            </mat-select>
                           </mat-form-field>
                          <mat-form-field>
                            <mat-select placeholder="Location" formControlName="area">
                              <mat-option *ngFor="let location of locations" [value]="location.value"   >
                                {{location.viewValue}}
                              </mat-option>
                            </mat-select>
                           </mat-form-field>
                           <mat-form-field>
                              <mat-select placeholder="Handle By" formControlName="handleBy">
                                <mat-option *ngFor="let agency of agencies" [value]="agency.value"   >
                                  {{agency.viewValue}}
                                </mat-option>
                              </mat-select>
                             </mat-form-field>
                                
                        <button  *ngIf="!locationAccess" mdbBtn type="submit"  class="waves-light text-center"  color="primary"  mdbWavesEffect >
                                <i *ngIf="!loading" class="fas fa-sign-in-alt"></i>
                            <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                          Share Your Problems With Us :-)
                        </button>
                      
                
                      </form>
               </mat-card>      
    </div>
    <div class="col-md-2"></div>
    
  </div>
</div>


<br><br><br><br><br>
<!--
    FOOTER
-->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
            <footer class="page-footer font-small teal pt-4 ">

                    <!-- Footer Text -->
                    <div class="container-fluid text-center text-md-left">
                    </div>
                    <!-- Footer Text -->
                  
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2018 Copyright: Design & Developed by Akash & Ankur 
                      <a href="https://connectingdelhi.ml"> ConnectingDelhi.ml</a>
                    </div>
                    <!-- Copyright -->
                  
                  </footer>
                  <!-- Footer -->
                  
            
    </div>
    <div class="col-md-1"></div>
</div>      
      
      