<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal navbar-fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">ConnectingDELHI</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

            
            <li class="nav-item">
                <a  routerLink="../dashboard" class="nav-link waves-light" mdbWavesEffect mdbWavesEffect>
                   Dashboard
                </a>
            </li>
            
            <!-- Dropdown -->
            <li class="nav-item dropdown teal"  dropdown dropdown-primarys>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Profile<i class="fa fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../login" (click)="logout()">Logout</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="../changePassword">Change Password</a>
                    
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<br>

<div class="container pt-4" [hidden]="hideElement">
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <h2 class="heading-secondary text-center">
                <img src="assets/images/delhiAdmin.png"  class=" org " style="height:130px;width:150px;"  alt="">
                Government Of NCT Of Delhi
            </h2>

        </div>
    </div>
</div>
<br>


<div class="container">
        <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 wid pt-4" >
                        <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading ">
                                    <span class="card__heading-span card__heading-span--1">NDMC</span>
                            </h4>
                               
                            <div class="card-body">
                                <div class="card__details">
                                   <img src="../../../assets/images/North.jpg" style="height:130px;width:130px" alt="">
                                 </div>
                                 <a routerLink="../northDelhiMunicipalCorporationDetails" style="margin-top:10px;" class="btn btn--white1">View</a> 
                                
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2 wid pt-4" >
                        <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading ">
                                    <span class="card__heading-span card__heading-span--2">SDMC</span>
                            </h4>
                               
                            <div class="card-body">
                                <div class="card__details text-center">
                                        <img src="../../../assets/images/SDMC.png" style="height:130px;width:130px"  alt="">
                                 </div>
                                 <a routerLink="../southDelhiMunicipalCorporationDetails" style="margin-top:10px;" class="btn btn--white2">View</a> 
                                
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2 wid pt-4">
                        <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading ">
                                    <span class="card__heading-span card__heading-span--3">EDMC</span>
                            </h4>
                               
                            <div class="card-body">
                                <div class="card__details text-center">
                                        <img src="../../../assets/images/EDMC.jpg" style="height:130px;width:130px"  alt="">
                                 </div>
                                 <a routerLink="../eastDelhiMunicipalCorporationDetails" style="margin-top:10px;" class="btn btn--white3">View</a> 
                                
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2 wid pt-4">
                        <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading ">
                                    <span class="card__heading-span card__heading-span--2" >DCB</span>
                            </h4>
                               
                            <div class="card-body">
                                <div class="card__details text-center">
                                        <img src="../../../assets/images/DCB.jpg"  style="height:130px;width:130px"  alt="">
                                 </div>
                                 <a routerLink="../delhiCantonmentBoardDetails" style="margin-top:10px;" class="btn btn--white2">View</a> 
                                
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2 wid pt-4" >
                                <div class="card" style="box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.15);" >
                                    <div class="card__picture card__picture--1">
                                        &nbsp;
                                    </div>
                                    <h4 class="card__heading ">
                                            <span class="card__heading-span card__heading-span--1">NewDMC</span>
                                    </h4>
                                       
                                    <div class="card-body">
                                        <div class="card__details text-center">
                                                <img src="../../../assets/images/NDMC.jpeg" style="height:130px;width:130px" alt="">
                                         </div>

                                         <a routerLink="../newDelhiMunicipalCorporationDetails" style="margin-top:10px;" class="btn btn--white1">View</a> 
                                        
                                    </div>
                                  </div>
                            </div>
                    <div class="col-md-1"></div>
                       
        </div>
    </div>


<div class="row pt-4">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                        <footer class="page-footer font-small teal pt-4 ">
                                 <br><br><br>
                                <!-- Footer Text -->
                                <div class="container-fluid text-center text-md-left">
                                </div>
                                <!-- Footer Text -->
                              
                                <!-- Copyright -->
                                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                                  <a href="https://ConnectingIndia.ml"> ConnectingDelhi.ml</a>
                                </div>
                                <!-- Copyright -->
                              
                              </footer>
                              <!-- Footer -->
                              
                        
                </div>
                <div class="col-md-1"></div>
            </div>      
                  
                  