
<div class="container" style="margin-top:10px;">
    <div class="row">
          <div class="col-md-12">
            <header class="header"> </header>
          </div>
    </div>
</div>

    <div class="container">
        <div class="row">
                    
    <div class="col-md-2 pt-4"></div>
    <div class="col-md-8 pt-4">
      <mat-card >  
          <h3 class="text-center"><img src="assets/images/india.png" ></h3>
          <h3 class="text-center" style="font-weight:bold;color:teal;">Connecting_Delhi</h3>
            
        <form [formGroup]="userLoginForm" novalidate (ngSubmit)="onSubmitUserLoginForm(userLoginForm.value)">
      
            <mat-form-field>
                <mat-select placeholder="Corporation Name" formControlName="Corporation">
                  <mat-option *ngFor="let agency of agencies" [value]="agency.value"   >
                    {{agency.viewValue}}
                  </mat-option>
                </mat-select>
               </mat-form-field>
                  
               <mat-form-field class="full-width">
                <input matInput maxlength="25" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"  required>
                <span matSuffix (click)="hide = !hide"><i class="fa fa-lock " style="color:gray;"></i></span>
              <mat-error class="help-block form-error text-danger small" *ngIf="userLoginForm.controls['password'].errors?.required &&
         userLoginForm.controls['password'].touched">Password is <b>Required</b> </mat-error>
       
              </mat-form-field>                   
            <br><br>  
              <button  mdbBtn type="submit" color="primary"  block="true" class="waves-light modal-color" mdbWavesEffect [disabled]="!userLoginForm.valid">
                Login
              </button>
              
      </form>

      </mat-card>
         
    </div>
    <div class="col-md-2 pt-4"></div>

        </div>
    </div>
 <br><br>

 <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
            <footer class="page-footer font-small teal pt-4 ">
                     <br><br><br>
                    <!-- Footer Text -->
                    <div class="container-fluid text-center text-md-left">
                    </div>
                    <!-- Footer Text -->
                  
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2018 Copyright:
                      <a href="https://ConnectingIndia.ml"> ConnectingDelhi.ml</a>
                    </div>
                    <!-- Copyright -->
                  
                  </footer>
                  <!-- Footer -->
                  
            
    </div>
    <div class="col-md-1"></div>
</div>      
      
      