
.dropdown-item:hover{
    background-color: #009688 !important;
    padding:10px; 
    color:#fff !important;
    border-radius:5px;
     box-shadow:10px 10px 5px 0px rgba(0,0,0,0.5);
    
     .org{
        font-size:30px;
        font-weight: bolder;
    }
}