
.dropdown-item:hover{
    background-color: #009688 !important;
    padding:10px; 
    color:#fff !important;
    border-radius:5px;
     box-shadow:10px 10px 5px 0px rgba(0,0,0,0.5);
    
     .org{
        font-size:30px;
        font-weight: bolder;
    }
}

footer{
    
    /* that every point the height of the box of this element should be 95% of the view port height */
     background-position: botom;
      position: relative;
      -webkit-clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0 99%);
      clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0 99%);
  
      
    }
  