<!--
    HEADER
-->

<div class="container" style="margin-top:10px;">
    <div class="row">
          <div class="col-md-12">
            <header class="header">
                <div class="header__logo-box">
                    <img src="../../assets/images/logo-white.png" alt="Logo" class="header__logo">
                </div>
                
                <div class="header__text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary--main">Connecting Delhi</span><br>
                        <span class="heading-primary--sub d-none d-lg-block">Connecting Individual. Stand United.</span>
                    </h1>
                    <div class="row">
                        <div class="col-md-6">
                            <a  routerLink="../signup" class="btn btn--white btn--animated">Signup</a>
                        </div> 
                        <div class="col-md-6">
                            <a routerLink="../login" class="btn btn--white btn--animated">Login</a>
                        </div> 
                    </div>
                </div>
            </header>
           
         
     
          </div>
    </div>
</div>

<!--
    CATEGORIES
-->
<section class="Categories container">
      
    <div class="row">
        <div class="col-md-12">
            <div class="u-center-text u-margin-bottom-big"><!--utility class-->
                 <h2 class="heading-secondary">
                        HOW IT WORKS &mdash;Simple as 1, 2, 3
                 </h2>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-2"></div>
        <div class="col-md-5 col-sm-10  u-margin-bottom-small">
                <img src="../../assets/images/apps.gif" alt="FoodieFoodiphone" class="app-screen">              
        </div>
        <div class="col-md-5 col-sm-10 steps-box">
                <div class="works-step clearfix">
                  <div>1</div>
                  <p class="">create your account and write description about the problem.</p>
                </div> 
                <div class="works-step clearfix">
                   <div>2</div>
                   <p>After desciption, define problem category...</p>
                </div> 
                <div class="works-step clearfix">
                   <div>3</div>
                   <p>Final step, click or upload the image of the problem. </p>
                </div> 
                          
                <a href="#" class="btn-app"><img src="../../assets/images/download-app-android.png" alt="android image"></a>
                <a href="#" class="btn-app"><img src="../../assets/images/iphone.png" alt="iphone app"></a>
               
            </div>
            <div class="col-md-1 col-sm-2"></div>
 
      
    </div>
</section>
<!--
    FOOTER
-->

<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
                <footer class="page-footer font-small teal pt-4 ">
                         <br><br><br>
                        <!-- Footer Text -->
                        <div class="container-fluid text-center text-md-left">
                        </div>
                        <!-- Footer Text -->
                      
                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2018 Copyright:
                          <a href="https://ConnectingIndia.ml"> ConnectingDelhi.ml</a>
                        </div>
                        <!-- Copyright -->
                      
                      </footer>
                      <!-- Footer -->
                      
                
        </div>
        <div class="col-md-1"></div>
    </div>      
          
          